-- 006_add_page_settings.sql

-- Add new columns to pages table
ALTER TABLE public.pages ADD COLUMN IF NOT EXISTS allow_messages BOOLEAN DEFAULT TRUE;
ALTER TABLE public.pages ADD COLUMN IF NOT EXISTS allow_reviews BOOLEAN DEFAULT TRUE;

-- Create pages storage bucket if not exists
INSERT INTO storage.buckets (id, name, public) 
VALUES ('pages', 'pages', true) 
ON CONFLICT (id) DO NOTHING;

-- Enable RLS and setup policies for pages bucket
CREATE POLICY "Public Access for Pages Images" 
ON storage.objects FOR SELECT 
USING (bucket_id = 'pages');

CREATE POLICY "Authenticated users can upload to pages bucket" 
ON storage.objects FOR INSERT 
WITH CHECK (bucket_id = 'pages' AND auth.role() = 'authenticated');

CREATE POLICY "Users can update own pages images" 
ON storage.objects FOR UPDATE 
WITH CHECK (bucket_id = 'pages' AND auth.uid() = owner);

CREATE POLICY "Users can delete own pages images" 
ON storage.objects FOR DELETE 
USING (bucket_id = 'pages' AND auth.uid() = owner);
