-- Migration: Add page_id to posts table
ALTER TABLE public.posts ADD COLUMN IF NOT EXISTS page_id UUID REFERENCES public.pages(id) ON DELETE CASCADE;
CREATE INDEX IF NOT EXISTS idx_posts_page_id ON public.posts(page_id);
