-- Migration: Add status and is_private to pages
ALTER TABLE public.pages ADD COLUMN IF NOT EXISTS status TEXT DEFAULT 'Active';
ALTER TABLE public.pages ADD COLUMN IF NOT EXISTS is_private BOOLEAN DEFAULT FALSE;
